



@media screen and (max-width: 1024px) {

.hero-part-1 h1 {
  font-size: 37px;
 }

}


@media screen and (max-width:768px) {
   .pb-90 {
    padding-bottom: 40px !important;
  }
  .pt-60 {
  	padding-top: 60px;
  }
  .service-part .icon-part {
  	padding-top: 50px;
  }
}


@media (max-width: 320px) {
  .hero-part-1 h1 {
  font-size: 20px;
  color: #ff0;
 }
  
}
