

@media screen and (min-width: 1600px){
}

@media screen and (max-width: 992px){
 	.top-thing-part .img-1 {
    padding: 30px 0 0px 30px;
    width: 100%;
}
.top-thing-part .img-4 {
	width: 100%;
 }
 .top-thing-part .thing-inner {
 	display: inherit;
 	justify-content: inherit;
 	align-items: inherit;
 }
 .download-part h2 {
 	text-align: center;
 	font-size: 40px;
 	line-height: 50px;
 }
 .download-part {
 	padding: 30px 0;
 }
 .why-service .icon-inner {
 	padding: 0;
 }
 .why-service .box-inner {
 	margin:0;
 }
}

@media screen and (max-width: 768px){
	header nav.navbar ul.navbar-nav li{
		padding: 0 !important;
	}
	.loos-part ul.t-social {
		text-align: center;
	}

	.loos-part .title-section h1 {
    font-size: 50px;
    line-height: 60px;
	}
	.pb-90 {
	   padding-bottom: 0px !important;
	}
	.service-part .icon-part:last-child {
		padding-top: 30px !important;
	}
	footer h5.f-title {
		margin-top: 30px;
	}
	.top-thing-part .img-1, .top-thing-part .img-3 {
		width: 100%;
		padding: 0;
		margin-bottom: 18px;
	}
	.top-thing-part .img-1 img, .top-thing-part .img-3 img, .top-thing-part .img-2, .top-thing-part .img-4, .top-thing-part .img-4 img {
		width: 100%;
		height: 150px;
		object-fit: cover;
		padding: 0;
	}
	.part-rtg .image-part img {		    
	    width: 274px;   
	    left: -15px;
	}
	.why-service .text-birtdy {
		margin-bottom: 30px;
	}
	.copy-text {
		text-align: center;
	}
	.why-service .icon-inner {
		padding: 0;
	}
	.top-container .title-section {
		height: 320px;
	}
	.image-part img {
		left: 0;
	}
	.why-service .box-inner {
		margin-bottom: 20px;
	}
	.Experince-part .media img {
		width: 75px;
	}
	.search-header {
	  width: 100%;
	  margin-top: 15px;
	}
}


@media screen and (max-width: 767px){
	.w-rtg-part {
	    padding: 20px 0 !important;
	}
	.hero-part-1 h1 {
		font-size: 28px !important;
	}
	footer h5.f-title {
		margin-top: 20px;
	}
	.top-container ul.t-social {
		text-align: center;
	}
	footer .copy-part {
		justify-content: center;
	}
	.top-container .title-section h1 {
		font-size: 35px;
	}
	.Experince-part .media {
		margin-bottom: 25px;
	}
	.founder-part .inner-part {
		padding: 50px !important;
	}
	.t-c-part .inner-tc {
		padding: 20px !important;
	}
	.about-part .hero-part-1 h1.t-title:before {
		width: 285px !important;
	}
	.t-c-part .inner-tc h2 {
		font-size: 22px;
	}
	.t-c-part .tab-content .press-text {
		padding-top: 15px;
	}
	.top-thing-part .img-1 {
		padding-top: 25px;
	}
	.experiences-section .press-text {
		padding: 20px;
	}
}


@media screen and (max-width: 568px){ 
.why-service {
    padding-top: 50px;
    padding-bottom: 50px;
}
.part-rtg .image-part img, .image-part img {
		display: none;
	}
	.top-container .title-section {
		height: 250px;
	}
}

@media screen and (max-width: 425px){ 
	footer .input-group .form-control {
		width: 100% !important;
	}
	
}