/* --------------- Global Styles --------------- */
@import url(@import url('https://fonts.googleapis.com/css?family=Nunito:200i,300,300i,400,400i,600,600i,700');



body {
  color: #343434;
  font-family: 'Nunito', sans-serif !important;
  line-height: 1.4;
  padding: 0 !important;
  background: #FFF;
  font-size: 14px;

}
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}
::selection {
  background: #ea4058;
  color: #FFF;
  text-shadow: none;
}
::-moz-selection {
 background: #ea4058; /* Firefox */
 color: #FFF;
 text-shadow: none;
}
::-webkit-selection {
 background: #ea4058; /* Safari */
 color: #FFF;
 text-shadow: none;
}
a, btn, .megamenu.has-dropdown a:after, .product .item:hover p {
  text-decoration: none;
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  -moz-transition: 1s ease all;
  -ms-transition: 1s ease all;
  transition: 1s ease all;
}
a {
  color: #ea4058;
}
a:hover, a:active, a:focus {
  text-decoration: none;
  color: #343434;
  outline: none;
}
:focus {
  outline: -webkit-focus-ring-color auto 0;
}
.form-control {
  box-shadow: inherit;
}
img {
  max-width: 100%;
}
ul {
  list-style-type: none;
}
ol, ul {
  margin: 0px;
  padding: 0;
}
ul li, ol li {
  color: #343434;
  line-height: 1.8;
}
h1, h2, h3, h4, h5, h6 {
  color: #343434;
}
p {
  margin: 0;
}
p + p:last-child {
  margin-bottom: 0;
}
.light {
  font-weight: 100;
}
.btn {
  border-radius: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
  padding: 5px 40px;
  border: none;
  border: none;
  text-transform: uppercase;
  -webkit-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  transition: 0.5s ease all;
  text-shadow: none;
  background-image: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-round {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}
.btn-danger {
  background: #FFF;
  border-radius: 40px;
  color: #ea4058;
  font-size: 16px;
  font-weight: 600;
  border: none;
  padding: 6px 32px;
  margin-top: 10px;
}
.btn-danger:hover {
  background: #ea4058;
  color: #FFF;
  border-radius: 3px;
}
.btn-success {
  background: #ff9100;
  border-radius: 40px;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  border: none;
  padding: 6px 32px;
  margin-top: 10px;
}
.btn-success:hover {
  background: #ead706;
  color: #000;
}
.btn-primary {
  background: #000;
  color: #fff;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
.btn-primary:hover {
  background: #fff;
  color: #000;
}
.primary-line {
  background: none;
  border: 2px solid #37a000;
  color: #37a000;
  line-height: 40px;
  font-weight: 500;
  font-size: 20px;
  border-radius: 30px;
}
.primary-line:hover {
  border: 2px solid #e3ad21;
  color: #e3ad21;
  background: none;
}
.btn-default {
  background: #363435;
  color: #fff;
  text-shadow: none;
  box-shadow: none; 
  background-image: -moz-linear-gradient( 162deg, rgb(243,136,132) 0%, rgb(243,137,121) 49%, rgb(243,139,112) 100%);
  background-image: -webkit-linear-gradient( 162deg, rgb(243,136,132) 0%, rgb(243,137,121) 49%, rgb(243,139,112) 100%);
  background-image: -ms-linear-gradient( 162deg, rgb(243,136,132) 0%, rgb(243,137,121) 49%, rgb(243,139,112) 100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn-default:hover {
  background-image: -moz-linear-gradient( 360deg, rgb(243,136,132) 20%, rgb(243,137,121) 40%, rgb(243,139,112) 40%);
  background-image: -webkit-linear-gradient( 360deg, rgb(243,136,132) 20%, rgb(243,137,121) 40%, rgb(243,139,112) 40%);
  background-image: -ms-linear-gradient( 360deg, rgb(243,136,132) 20%, rgb(243,137,121) 40%, rgb(243,139,112) 40%);
  color: #fff;
}
.btn-info{
  height:60px; border-radius:30px; line-height:55px;}
.no-padding {
  padding: 0 !important;
}

.text-red {
  color: #ea4058;
}
.text-blue {
  color: #3b6cb4;
}
.text-green {
}
/* --------------- 1.1 Spacer --------------- */

/*index css start*/
.btn-info{
  
  background:#24a3ff;
  color:#fff;
  font-size:18px;
  font-weight:600;
  transition: all ease 0.5s;
  }

.btn-info:hover {
  background: #000; color: #fff;
  }

.p-60 {
  padding: 60px;
}

/*--------------------------- header section start --------------------------------*/

/*header start*/
header nav.navbar {
  background-color: #fff;
   box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
header nav.navbar ul.navbar-nav li{
  padding: 0 15px;
}
header nav.navbar ul.navbar-nav li:last-child {
  padding-right: 0 !important;
}
header nav.navbar ul.navbar-nav li a {
    font-size: 16px;
    font-weight: 700;
}
/*header end*/

/*--------------------------- header section end --------------------------------*/

/*--------------------------- Welcome to RTG support start --------------------------------*/


/*w-rtg-part start*/

.w-rtg-part {
  background-color: #f9eca7;
  padding: 60px 0;
}

.hero-part-1 {
  text-align: center;  
  padding: 50px 0;
}
.hero-part-1 .form-control {
  border:0;

}
.hero-part-1 .btn-search {
  background-color: #f38a77;
  color: #fff;
  padding: 4px 24px !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.hero-part-1 h1 {
  font-size: 40px;
 font-weight: 700;
 padding-bottom: 14px;
}

 /*w-rtg-part end*/ 


/*service-part start*/

.pb-90 {
  padding-bottom: 90px;
}

.service-part .icon-part {
  text-align: center;  
}
.service-part .icon-part h5 {
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
  line-height: 30px;
}

/*service-part end*/

 /*--------------------------- Welcome to RTG support end --------------------------------*/


 /*--------------------------- footer start --------------------------------*/

/*footer start*/
footer {
  background-image: -moz-linear-gradient( 18deg, rgb(68,68,68) 0%, rgb(68,68,68) 100%);
  background-image: -webkit-linear-gradient( 18deg, rgb(68,68,68) 0%, rgb(68,68,68) 100%);
  background-image: -ms-linear-gradient( 18deg, rgb(68,68,68) 0%, rgb(68,68,68) 100%);
  padding: 40px 0;
}
footer .news-text {
  text-align: right;
}
footer .news-text p {
  color: #eeedec;
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
}

footer .news-text p a {
  color: #aaa;
  text-decoration: underline;
}
footer .news-text p a:hover {
  color: #f38a77;  
}
footer .news-text p:nth-child(2) {
   color: #aaa;  
   font-size: 14px;
   line-height: 22px;
}
.border-tb {
  border-bottom: 1px solid #6f6f6f;
   border-top: 1px solid #6f6f6f;
   padding: 20px 0 20px 0;
   margin:15px 0 15px 0;

}
footer h5.f-title {
color: #9e9e9e;
font-size: 18px;
line-height: 28px;
font-weight: 700;
}

footer ul.f-li li a {
  color: #9e9e9e;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}
footer ul.f-li li a:hover {
  color: #f38a77;  
}
footer ul.f-social li a i {
    padding: 8px 14px;   
  /*background-image: -moz-linear-gradient( 90deg, rgb(239,130,179) 0%, rgb(244,145,84) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(239,130,179) 0%, rgb(244,145,84) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(239,130,179) 0%, rgb(244,145,84) 100%);*/

  font-size: 14px;
  background: -webkit-linear-gradient(#f48f58, #ef82b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid;
  border-image-source: linear-gradient(0deg, #ef82b3, #f49154);
  border-image-slice: 1;
  width: 46px;
  height: 42px;
  line-height: 23px;
  text-align: center;
  border-radius: 50px !important;

}
.copy-text {
    color: #9e9e9e;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    text-align: right;
  }
/*footer end*/


 /*--------------------------- Footer end --------------------------------*/


 /*--------------------------- Why RTG ? Start --------------------------------*/

 .why-part {
  background-color: #f9eca7;
  padding: 60px 0;
}
.why-part .rtg-part h4 {
  font-weight: 900;
  font-size: 22px;
  line-height: 38px;
}
.why-part .rtg-part p {
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
}
.image-part {
  position: relative;
}

.image-part img {
  position: absolute;
    width: 325px;   
    top: -56px;
    left: 111px;
}
   
/*icon-part start*/
  .why-service {
    padding-top: 100px;
  }

  .why-service .icon-inner {
    text-align: center;
    padding: 0 50px;
    margin-bottom: 50px;
  }
   .why-service .icon-inner h5 {
    font-size: 22px;
    font-weight: 900;
    line-height: 32px;
   }
  .why-service .icon-inner p {
    color: #000;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
   }
 .why-service h2.title {
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    font-weight: 800;
    margin-bottom: 50px;
 }

 .why-service .box-inner {
  text-align: center;
  margin: 0 50px;
  background-image: -moz-linear-gradient( -96deg, rgb(240,103,112) 0%, rgb(242,127,113) 100%);
  background-image: -webkit-linear-gradient( -96deg, rgb(240,103,112) 0%, rgb(242,127,113) 100%);
  background-image: -ms-linear-gradient( -96deg, rgb(240,103,112) 0%, rgb(242,127,113) 100%);
  padding: 20px;
  border-radius: 18px;
  padding-top: 111px;
  min-height: 323px;
 }

 .why-service .box-inner h5 {
  color: #fff;
  font-size: 17px;
  font-weight: 900;
  line-height: 24px;
 }
.why-service .box-inner p {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    }
/*icon-part end*/

 /*bg part start*/
 .bg-part {
  background-image: url(../images/why-bg.png);
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 400px;
 }
 .why-service .bg-part h2.title {
  color: #fff !important;
 }
 .why-service .bg-part p {
  color: #fff !important;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  line-height:22px;
  padding-bottom: 40px;
 }
 .why-service .bg-part .btn-default {
  text-align: center;
  margin:0 auto;
  display: table;
 }
 /*bg part end*/
    
  /*--------------------------- Why RTG ? End --------------------------------*/

 
 
 