/* --------------- Global Styles --------------- */
@import url(@import url('https://fonts.googleapis.com/css?family=Nunito:200i,300,300i,400,400i,600,600i,700');



body {
  color: #343434;
  font-family: 'Nunito', sans-serif !important;
  line-height: 1.4;
  padding: 0 !important;
  background: #FFF;
  font-size: 14px;

}
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}
::selection {
  background: #ea4058;
  color: #FFF;
  text-shadow: none;
}
::-moz-selection {
 background: #ea4058; /* Firefox */
 color: #FFF;
 text-shadow: none;
}
::-webkit-selection {
 background: #ea4058; /* Safari */
 color: #FFF;
 text-shadow: none;
}
a, btn, .megamenu.has-dropdown a:after, .product .item:hover p {
  text-decoration: none;
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  -moz-transition: 1s ease all;
  -ms-transition: 1s ease all;
  transition: 1s ease all;
}
a {
  color: #ea4058;
}
a:hover, a:active, a:focus {
  text-decoration: none;
  color: #343434;
  outline: none;
}
:focus {
  outline: -webkit-focus-ring-color auto 0;
}
.form-control {
  box-shadow: inherit;
}
img {
  max-width: 100%;
}
ul {
  list-style-type: none;
}
ol, ul {
  margin: 0px;
  padding: 0;
}
ul li, ol li {
  color: #343434;
  line-height: 1.8;
}
h1, h2, h3, h4, h5, h6 {
  color: #343434;
}
p {
  margin: 0;
}
p + p:last-child {
  margin-bottom: 0;
}
.center-part {
   margin: 0 auto;
  display: table;
  border-radius: 5px !important;
}
.light {
  font-weight: 100;
}
.btn {
  border-radius: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
  padding: 5px 40px;
  border: none;
  border: none;
  text-transform: uppercase;
  -webkit-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  transition: 0.5s ease all;
  text-shadow: none;
  background-image: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-round {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}
.btn-danger {
  background: #FFF;
  border-radius: 40px;
  color: #ea4058;
  font-size: 16px;
  font-weight: 600;
  border: none;
  padding: 6px 32px;
  margin-top: 10px;
}
.btn-danger:hover {
  background: #ea4058;
  color: #FFF;
  border-radius: 3px;
}
.btn-success {
  background: #fde4db;
  border-radius: 20px;
  color: #f05d70;
  font-size: 16px;
  font-weight: 600;
  border: none;
  padding: 3px 22px;
  margin-top: 10px;
  text-transform: capitalize;
}
.btn-success:hover {
  background: #f05d70;
  color: #fde4db;
}
.btn-primary {
  background: #ee8187;
  color: #fff;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 3px 35px;
}
.btn-primary:hover {
  background: #fff;
  color: #ee8187;
}
.primary-line {
     font-size: 14px;
   padding: 5px 22px;
    line-height: 26px;
    background: #fff;
    color: #f05d70;
    font-weight: 800;
    text-transform: capitalize;
    border-radius: 20px;
    border:1px solid #f05d70;
}
.primary-line:hover { 
  color: #fff;
  background: #f05d70;
  border:1px solid #f05d70;
}
.btn-default {
  background: #363435;
  color: #fff;
  text-shadow: none;
  box-shadow: none; 
  background-image: -moz-linear-gradient( 162deg, rgb(243,136,132) 0%, rgb(243,137,121) 49%, rgb(243,139,112) 100%);
  background-image: -webkit-linear-gradient( 162deg, rgb(243,136,132) 0%, rgb(243,137,121) 49%, rgb(243,139,112) 100%);
  background-image: -ms-linear-gradient( 162deg, rgb(243,136,132) 0%, rgb(243,137,121) 49%, rgb(243,139,112) 100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn-default:hover {
  background-image: -moz-linear-gradient( 360deg, rgb(243,136,132) 20%, rgb(243,137,121) 40%, rgb(243,139,112) 40%);
  background-image: -webkit-linear-gradient( 360deg, rgb(243,136,132) 20%, rgb(243,137,121) 40%, rgb(243,139,112) 40%);
  background-image: -ms-linear-gradient( 360deg, rgb(243,136,132) 20%, rgb(243,137,121) 40%, rgb(243,139,112) 40%);
  color: #fff;
}
.btn-info{
  height:60px; border-radius:30px; line-height:55px;}
.no-padding {
  padding: 0 !important;
}

.text-red {
  color: #ea4058;
}
.text-blue {
  color: #3b6cb4;
}
.text-reds {
  color: #f05d70;
}
.f-w-700 {
  font-weight: 700;
}
.pbb-50 {
  padding-bottom: 50px;
}
/* --------------- 1.1 Spacer --------------- */

/*index css start*/
.btn-info{
  
  background:#24a3ff;
  color:#fff;
  font-size:18px;
  font-weight:600;
  transition: all ease 0.5s;
  }

.btn-info:hover {
  background: #000; color: #fff;
  }

.p-60 {
  padding: 60px 0;
}
.ptg-50 {
  padding: 50px 0;
}
/*--------------------------- header section start --------------------------------*/

/*header start*/
header nav.navbar {
  background-color: #fff;
   box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
header nav.navbar ul.navbar-nav li{
  padding: 0 15px;
}
header nav.navbar ul.navbar-nav li:last-child {
  padding-right: 0 !important;
}
header nav.navbar ul.navbar-nav li a {
    font-size: 16px;
    font-weight: 700;
}
/*header end*/

/*--------------------------- header section end --------------------------------*/

/*--------------------------- Welcome to RTG support start --------------------------------*/


/*w-rtg-part start*/

.w-rtg-part {
  background-color: #f9eca7;
  padding: 60px 0;
}

.hero-part-1 {
  text-align: center;  
  padding: 50px 0;
}
.hero-part-1 .form-control {
  border:0;

}
.hero-part-1 .btn-search {
  background-color: #f38a77;
  color: #fff;
  padding: 4px 24px !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.hero-part-1 h1 {
  font-size: 40px;
 font-weight: 700;
 padding-bottom: 14px;
}

 /*w-rtg-part end*/ 


/*service-part start*/

.pb-90 {
  padding-bottom: 90px;
}

.service-part .icon-part {
  text-align: center;  
}
.service-part .icon-part h5 {
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
  line-height: 30px;
}

/*service-part end*/

 /*--------------------------- Welcome to RTG support end --------------------------------*/


 /*--------------------------- footer start --------------------------------*/

/*footer start*/
footer {
  background-image: -moz-linear-gradient( 18deg, rgb(68,68,68) 0%, rgb(68,68,68) 100%);
  background-image: -webkit-linear-gradient( 18deg, rgb(68,68,68) 0%, rgb(68,68,68) 100%);
  background-image: -ms-linear-gradient( 18deg, rgb(68,68,68) 0%, rgb(68,68,68) 100%);
  padding: 40px 0;
}
footer .news-text {
  text-align: right;
}
footer .news-text p {
  color: #eeedec;
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
}

footer .news-text p a {
  color: #aaa;
  text-decoration: underline;
}
footer .news-text p a:hover {
  color: #f38a77;  
}
footer .news-text p:nth-child(2) {
   color: #aaa;  
   font-size: 14px;
   line-height: 22px;
}
.border-tb {
  border-bottom: 1px solid #6f6f6f;
   border-top: 1px solid #6f6f6f;
   padding: 20px 0 20px 0;
   margin:15px 0 15px 0;

}
footer h5.f-title {
color: #9e9e9e;
font-size: 18px;
line-height: 28px;
font-weight: 700;
}

footer ul.f-li li a {
  color: #9e9e9e;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}
footer ul.f-li li a:hover {
  color: #f38a77;  
}
footer ul.f-social li a i {
    padding: 8px 14px;   
  /*background-image: -moz-linear-gradient( 90deg, rgb(239,130,179) 0%, rgb(244,145,84) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(239,130,179) 0%, rgb(244,145,84) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(239,130,179) 0%, rgb(244,145,84) 100%);*/

  font-size: 14px;
  background: -webkit-linear-gradient(#f48f58, #ef82b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid;
  border-image-source: linear-gradient(0deg, #ef82b3, #f49154);
  border-image-slice: 1;
  width: 46px;
  height: 42px;
  line-height: 23px;
  text-align: center;
  border-radius: 50px !important;

}
.copy-text {
    color: #9e9e9e;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    text-align: right;
  }
/*footer end*/


 /*--------------------------- Footer end --------------------------------*/


 /*--------------------------- Why RTG ? Start --------------------------------*/

 .why-part {
  background-color: #f9eca7;
  padding: 60px 0;
}
.why-part .rtg-part h4 {
  font-weight: 900;
  font-size: 22px;
  line-height: 38px;
}
.why-part .rtg-part p {
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
}
.image-part {
  position: relative;
}

.image-part img {
  position: absolute;
    width: 325px;   
    top: -56px;
    left: 111px;
}
   
/*icon-part start*/
  .why-service {
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .why-service .icon-inner {
    text-align: center;
    padding: 0 50px;
    margin-bottom: 50px;
  }
   .why-service .icon-inner h5 {
    font-size: 22px;
    font-weight: 900;
    line-height: 32px;
   }
  .why-service .icon-inner p {
    color: #000;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
   }
 .why-service h2.title {
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    font-weight: 800;
    margin-bottom: 50px;
 }

 .why-service .box-inner {
  text-align: center;
  margin: 0 50px;
  background-image: -moz-linear-gradient( -96deg, rgb(240,103,112) 0%, rgb(242,127,113) 100%);
  background-image: -webkit-linear-gradient( -96deg, rgb(240,103,112) 0%, rgb(242,127,113) 100%);
  background-image: -ms-linear-gradient( -96deg, rgb(240,103,112) 0%, rgb(242,127,113) 100%);
  padding: 20px;
  border-radius: 18px;
  padding-top: 111px;
  min-height: 323px;
 }

 .why-service .box-inner h5 {
  color: #fff;
  font-size: 17px;
  font-weight: 900;
  line-height: 24px;
 }
.why-service .box-inner p {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    }
/*icon-part end*/

 /*bg part start*/
 .bg-part {
  background-image: url(../images/why-bg.png);
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 400px;
 }
 .why-service .bg-part h2.title {
  color: #fff !important;
 }
 .why-service .bg-part p {
  color: #fff !important;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  line-height:22px;
  padding-bottom: 40px;
 }
 .why-service .bg-part .btn-default {
  text-align: center;
  margin:0 auto;
  display: table;
 }
 /*bg part end*/
    
  /*--------------------------- Why RTG ? End --------------------------------*/



  /*--------------------------- WRTG Points Start --------------------------------*/

  .part-rtg {
    background-color: #f9eca7;
  padding: 80px 0;
  }

  .part-rtg .rtg-part h4 {
    font-weight: 900;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
  }

  .part-rtg .image-part img {
    position: absolute;
    width: 382px;
    top: -56px;
    left: -209px;
  }

/*--------------------------- accrodian Start --------------------------------*/


/*.accordion_container {
  
}*/

.accordion_head {  
  color: #000;
  cursor: pointer;
  font-family: arial;
  font-size: 14px;
  margin: 0 0 1px 0;
  font-weight: 500;
  margin-bottom: 34px;
   margin-top: 25px;
}

.accordion_body {
  background: #eee; 
}

.accordion_body p {
  padding: 12px 20px;
  margin: 0px;
}

.plusminus {
  float: left;
  padding: 0 5px;
  border: 1px solid #fff;
  border-image-source: linear-gradient(0deg, #ef82b3, #f49154);
    border-image-slice: 1;
    width: 20px;
    height: 20px;
  color: #ef82b3;
  line-height: 19px; 
}

.accordion_container .info-text {
  font-size: 12px;
    line-height: 20px;
    margin-top: 15px;
}


/*--------------------------- accrodian end --------------------------------*/

/*--------------------------- RTG Travel Blog Start --------------------------------*/

/*--------------------------- blog header Start --------------------------------*/
.top-container {
  background-color: #f05d70;
  padding: 30px;
  text-align: center;
}

.scrool-header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.sticky + .content {
  padding-top: 102px;
}

/*--------------------------- blog header end --------------------------------*/

.top-container .title-section {  
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-container .title-section h1 {
  color: #fff;
    font-weight: 700;
    width: 100%;
    display: block;
    font-size: 50px;
    line-height: 60px;
}
.top-container .title-section p {
  color: #fff;
    font-weight: 700;
    width: 100%;
    display: block;
}

.top-container a {
  color: #fff;
  font-size: 30px;
}

.top-container ul.t-social {
  text-align: left;
}

.top-container ul.t-social li a i {
     padding: 5px 10px;
    font-size: 21px;
    border: 2px solid #fff;
    border-image-slice: 1;
    width: 41px;
    height: 41px;
    line-height: 29px;
    text-align: center;
    border-radius: 50px !important;
    margin-right: 10px;
}

.top-container ul.t-social li a i:hover {
  color: #000;
  border: 2px solid #000;
}

.header  {
  background-color: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}
.header nav.navbar ul.navbar-nav li {
  padding: 0 11px;
    font-weight: 900;

}

/*grid-section start*/

.grid-section {
  padding: 50px 0;
}
.grid-part {
  margin-bottom: 30px;
}

.grid-part .card-body h6 {
  font-size: 14px;
  color: #f05d70 !important;
  line-height: 20px;
}
 .grid-part .card-body {
  padding: 30px;
 }

 .grid-part {
  position: relative; 
   border: 1px solid #e9eaea;
    border-radius: 15px;
    overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f05d70;
}

.grid-part:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text2 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 58%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.heights {
      height: 300px;
    object-fit: cover;
}
/*grid-section end*/ 

.grid-section .btn-default {
  text-align: center;
  border-radius: 5px;
  margin:0 auto;
  display: table;
}

ul.pagination-section .page-item.active .page-link {
  background-image: -webkit-linear-gradient( 162deg, rgb(243,136,132) 0%, rgb(243,137,121) 49%, rgb(243,139,112) 100%);
  border:0 !important;
  border-radius: 20px;
  color: #fff;
      font-size: 18px;
font-weight: 600;
    padding: 7px 13px;
}

ul.pagination-section .page-item .page-link:hover {
  background-color: #fff !important;
  color: #333 !important;
}

ul.pagination-section .page-item .page-link {
  border: 0;
  color: #000;
font-size: 18px;
  font-weight: 600;
}

footer .top-container {
  background:none;
  padding: 0;
}
footer .copy-part {
  align-items: center;
  display: flex;
  justify-content: flex-end;
 padding-top: 20px;
}



/*--------------------------- RTG Travel Blog End --------------------------------*/

/*--------------------------- US part start --------------------------------*/
.us-section .us-blogs {
  border-radius: 5px;
  height: 330px;
  position: relative;
  overflow: hidden;
}
/*.us-section .us-blogs:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(9, 8, 8, 0.5);
  background-image:
    linear-gradient( 45deg, black 15%, transparent 15%, transparent 85%, black 85%, black); 
  background-size: 2px 2px;
}*/
.us-section .us-blogs {
/*  background-image: url(../images/mount-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;*/
  position: relative;
  height: 300px;
  overflow: hidden;
  border-radius: 5px;
}
.us-section ul.us-catalog {
  position: absolute;
  right: 40px;
  top: 40px;
}
.us-section .us-text {
    position: absolute;
    bottom: 45px;
    left: 30px;
}
.us-section .us-text span {
    font-size: 12px;
    font-weight: 800;
}
.us-section .small-us .us-blogs {
  height: 400px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;  
}
.us-section .us-blogs:before {
  position: absolute;
    width: 100%;
    height: 100%;
    content: '';
     background: rgba(0, 0, 0, 0.4); 
    left: 0;
    top: 0;
    z-index: 0;
}
.us-section .us-blogs .us-text a h4:hover {
  color: #ee8187 !important;
}
.us-section .small-us .us-blogs img {
  height: 400px;
  width: 100%;
  overflow: hidden;
  object-fit: cover; 
}

.us-section .small-us .us-blogs:before {
      position: absolute;
    width: 100%;
    height: 100%;
    content: '';
     background: rgba(0, 0, 0, 0.4); 
    left: 0;
    top: 0;
    z-index: 0;

}
.us-section .small-us .us-blogs .btn-primary {
  padding: 3px 25px;
  font-size: 13px;
  line-height: 28px;
}

/*sidebar-part start*/
.sidebar-part .search-part {
.-webkit-box-shadow: 1px 1px 12px 0px rgba(53, 53, 53, 0.4);
-moz-box-shadow: 1px 1px 12px 0px rgba(53, 53, 53, 0.4);
box-shadow: 1px 1px 12px 0px rgba(53, 53, 53, 0.4);
padding: 20px;
border-radius: 10px;
border: 2px solid #f05d70;
}
.sidebar-part .search-part .form-group label {
  font-size: 16px;
}
/* The container */
.check-parts {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #000;
}

/* Hide the browser's default checkbox */
.check-parts input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
     position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #f05d70;
}

/* On mouse-over, add a grey background color */
.check-parts:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-parts input:checked ~ .checkmark {
  background-color: #ee8187;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-parts input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-parts .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sidebar-part .search-part .btn-default {
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  padding: 5px 10px;
}
.sidebar-part .search-part .form-control {
  border: 2px solid #f05d70;
}
.search-part .media a img {
    width: 100px;
  object-fit: cover;
  height: 95px;
  border-radius: 5px;
  overflow: hidden;
}

.search-part .media-body h5 a {
  font-size: 16px;
    line-height: 21px;
    color: #000;
}
.search-part .media-body h5 a:hover {
  color: #ea4058;
}

.search-part .media-body p {
  color: #959595;
}



/*--------------------------- US part end --------------------------------*/

/*--------------------------- Los Angeles part start--------------------------------*/
.loos-part ul.t-social {
  text-align: left;
}

.loos-part ul.t-social li a i {
     padding: 5px 10px;
    font-size: 21px;
    border: 2px solid #ea4058;
    border-image-slice: 1;
    width: 41px;
    height: 41px;
    line-height: 29px;
    text-align: center;
    border-radius: 50px !important;
    margin-right: 10px;
}

.loos-part ul.t-social li a i:hover {
  color: #000;
  border: 2px solid #000;
}

.loos-part .title-section h1 {
  font-size: 80px;
  line-height: 90px;
}

.loos-part .los-img {
  height: 350px;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;

}
.loos-part .time-part {
  background-color: #f05d70;
  border-radius: 5px;
  padding: 30px;
}

.loos-part .time-part span {
      font-size: 10px;
}
.loos-part .time-part h6 {
    font-size: 22px;
    padding-top: 4px;
    color: #fff;
}
.loos-part .time-part h3 {
    font-size: 60px;
    padding-top: 27px;
    color: #fff;
}
.loos-part h6 {
    font-size: 21px;
    padding-top: 18px;
  }

.loos-part p {
    font-size: 13px;
    line-height: 20px;
    color: #878b91;
    padding-top: 12px;
}

.vertical-t-part .nav-pills .nav-link {
  color: #000;
}

.vertical-t-part .nav-pills .nav-link.active {
  color: #ea4058;
  background-color: #fff !important;
}

.top-thing-part .thing-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-thing-part h2 {
  font-size: 40px;
  line-height: 50px;
}
.top-thing-part p {
  color:#959595;
}
.top-thing-part .btn-primary {
  font-size: 14px;
  text-transform: lowercase;
  border-radius: 5px;
  line-height: 32px;
}
.top-thing-part .btn-primary:hover {
  background-color: #000;
  color: #fff;
}
.top-thing-part .img-2  {
    border-radius: 10px;
  width: 100%;
  height: 214px;
  object-fit: cover;
}
.top-thing-part .img-1  {
    padding: 30px 0 0px 30px;
    width: 260px;
    height: 152px;
    object-fit: cover;
    padding-bottom: 15px;
    object-fit: cover;  
    padding-top: 63px; 
}
.top-thing-part .img-1 img {
  border-radius: 10px !important;
}
.top-thing-part .img-4 {
  padding: 0px 30px 30px 0px;
    width: 260px;
    height: 152px;
    object-fit: cover;
    padding-bottom: 15px;
    object-fit: cover;    
}
.top-thing-part .img-4 img{
  border-radius: 10px !important;
}
.top-thing-part .img-3 {
    width: 150px;
    float: right;
    z-index: 9999;
    padding-top: 84px;
    height: 167px;
    object-fit: cover;
    border-radius: 10px;
    }
.top-thing-part .img-3 img {
  height: 104px;
    object-fit: cover;
    border-radius: 10px;
}
/*--------------------------- Los Angeles part end--------------------------------*/

.baloon-part {
  background-image: url(../images/ballon.jpg);
  padding: 20px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.baloon-part h6 {
  font-size: 18px;
  font-weight: 900;
  line-height: 28px;
}
.baloon-part p {
  font-size: 15px;
  font-weight: 900;
  line-height: 24px;
}

.why-service .text-birtdy {
  background-image: -webkit-linear-gradient( 162deg, rgb(243,136,132) 0%, rgb(243,137,121) 49%, rgb(243,139,112) 100%);
  padding: 20px;
    border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.why-service .text-birtdy p {
  font-weight: 800;
  color: #fff;
}
.Poinst-part {
  padding-bottom: 80px;
}

.baloon-part-2 {
  background-image: url(../images/samosa.jpg);
  padding: 20px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  height: 145px;
  display: flex;
    justify-content: center;
    align-items: center;

}
.baloon-part-2 a h6 {
    font-size: 30px;
    color: #fff;
    font-weight: 900;
}
 .text-birtdy ul li {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    line-height: 22px;
}
.download-part {
    background-image: -webkit-linear-gradient( 162deg, rgb(243,136,132) 0%, rgb(243,137,121) 49%, rgb(243,139,112) 100%);
    padding: 50px 0;
  }
.download-part h2 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
  }


/*-------------------------about-part start------------------------*/
.about-part {
  background-image: url(../images/travel-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
  padding: 50px 0;
}
.about-part .hero-part-1 {
  text-align: left;
}
.about-part .hero-part-1 p {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    font-weight: 700;
}

.about-part .hero-part-1 h1, .founder-part .inner-part h2, .about-part .hero-part-1 h1.t-title:before, .about-part .hero-part-1 h2.t-title  {
  color: #f05d70;
  position: relative; 
  text-align: left;
  font-weight: 800;
}

.about-part .hero-part-1 h1:before{
  background-image: -webkit-linear-gradient( 162deg, rgb(243,136,132) 0%, rgb(243,137,121) 49%, rgb(243,139,112) 100%);
  position: absolute;
  bottom: 0;
  width: 175px;
  height: 5px;
  content: "";
}
.founder-part .container-fluid {
  padding: 0;
}
 .founder-part .inner-part h2:before {
  background-image: -webkit-linear-gradient( 162deg, rgb(243,136,132) 0%, rgb(243,137,121) 49%, rgb(243,139,112) 100%);
  position: absolute;
  bottom: 0;
  width: 117px;
  height: 5px;
  content: "";
}
  .founder-part .inner-part {
        padding: 70px 0 0 70px;
  }

 .founder-part .inner-part h3 {
  color: #f38a73;
  font-weight: 800;
 }
 .founder-part .inner-part-1 {
 background-image: url(../images/travel-1.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  height: 300px;
 }


/*-------------------------about-part end------------------------*/

.Experince-part {
  background-image: -webkit-linear-gradient( 162deg, rgb(243,136,132) 0%, rgb(243,137,121) 49%, rgb(243,139,112) 100%);
  padding: 50px 0;

}
  .about-part .hero-part-1 h3 {
    font-weight: 900 !important;
    color: #f38a73 !important;
  }
/*-------------------------term & Condition-part Start------------------------*/

 .about-part .hero-part-1 h1.t-title:before {
  background-image: -webkit-linear-gradient( 162deg, rgb(243,136,132) 0%, rgb(243,137,121) 49%, rgb(243,139,112) 100%) !important;
  position: absolute !important;
  bottom: 0 !important;
  width: 408px ;
  height: 5px !important;
  content: "" !important;
}

.t-c-part .verson-part {
  text-align: left;
}

.t-c-part .inner-tc {
  padding: 20px 50px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
 .t-c-part .tc-inner {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
 }
.t-c-part .tc-inner h2 {
  font-weight: 800;
}
 .t-c-part .tc-inner p {
  font-weight: 500;
}

/*-------------------------term & Condition-part End------------------------*/

.about-part .hero-part-1 h2.t-title:before {
  background-image: -webkit-linear-gradient( 162deg, rgb(243,136,132) 0%, rgb(243,137,121) 49%, rgb(243,139,112) 100%) !important;
  position: absolute !important;
  bottom: -1px !important;
  width: 210px ;
  height: 5px !important;
  content: "" !important;
}

/*-------------------------Press Start------------------------*/
.t-c-part .inner-tc ul#pills-tab {
  display: flex;
  justify-content: center;
}

.t-c-part .inner-tc ul#pills-tab li a {
  position: relative;
}

.t-c-part .inner-tc ul#pills-tab li a:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #000; 

}
.t-c-part .inner-tc ul#pills-tab li a {
  padding:0 40px;
  border-bottom: 1px solid #ccc;
  border-radius: 0 !important;
  color: #656565;
  font-size: 20px;
  font-weight: 700;

}
.t-c-part .inner-tc .nav-pills .nav-link.active {
  background:none;
  color: #ef82b3 !important;
   border-bottom: 2px solid #ef82b3 !important;
   position: relative;

}
.t-c-part .tab-content img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 5px;
}

.t-c-part .tab-content .press-text ul li {
   font-weight: 700;
}
.t-c-part .tab-content .press-text h2 a {
  color: #000;
}
.t-c-part .tab-content .press-text h2 a:hover {
  color: #ea4058;
}

.t-c-part .tab-content .press-text  p {
  font-size: 16px;
  font-weight: 400;
}
/*-------------------------Press End------------------------*/


.sticky-part { 
background-color: #fff;
box-shadow: 0 0 10px rgba(0,0,0,0.4);
display: none;
}  

.fixed-part {
  position: fixed;
  top:77px;
  left:0;
  width: 100%;
  display:block;
  z-index: 9999;
  }

#menu-center ul.navbar-nav li {
  font-size: 16px;
  font-weight: 700;
}


.active, #menu-center ul li a:hover  {      
    color: #f05d70 !important;
    text-decoration: none;  

}

header.search-part nav.navbar ul.navbar-nav li {
  padding: 0 8px;
}

.search-header {
  width: 36%;
}

.breadcrumb {
  background: none;
}
.breadcrumb-item+.breadcrumb-item::before {    
    content: ">";
}

/*-------------------------destination-section start------------------------*/

.destination-section .side-parts { 
  border-radius: 10px;
  background-color: rgb( 255, 255, 255 );
  box-shadow: 0px 0px 7px 0px rgb( 152, 152, 152 );
  padding: 20px;


}
.destination-section .card {
  border: 0;
}
.destination-section .card-header {
  background:none;
  border: none;
}
.destination-section .card-header h5 {
  font-size: 15px;
}
.destination-section .side-parts ul li .checkmark {
  border: 1px solid #000;
}

.price-range-slider {
  width: 100%; 
  padding: 10px 20px;
}
.price-range-slider .range-value {
  margin: 0;
}
.price-range-slider .range-value input {
  width: 100%;
  background: none;
  color: #000;
  font-size: 16px;
  font-weight: initial;
  box-shadow: none;
  border: none;
  margin: 20px 0 20px 0;
}
.price-range-slider .range-bar {
  border: none;
  background: #000;
  height: 3px;
  width: 96%;
  margin-left: 8px;
}
.price-range-slider .range-bar .ui-slider-range {
  background: #06b9c0;
}
.price-range-slider .range-bar .ui-slider-handle {
  border: none;
  border-radius: 25px;
  background: #fff;
  border: 2px solid #06b9c0;
  height: 17px;
  width: 17px;
  top: -0.52em;
  cursor: pointer;

}
.price-range-slider .range-bar .ui-slider-handle + span {
  background: #06b9c0;
}
.destination-part {
 position: relative;
 overflow: hidden;
}
.destination-part img {
   border-radius: 10px;
  overflow: hidden;
  height: 140px;
  width: 100%;
  object-fit: cover;
}
.destination-part h6 {
position: absolute;
    top: 40px;
    color: #fff;
    left: 25px;
}
.destination-part:hover h6  {
  color: #f05d70;
}
.destination-section h5.titles {
  border-bottom: 1px solid #ccc;
}
.taiwan-top { 
    box-shadow: 0px 0px 7px 0px rgb( 152, 152, 152 );
    padding: 20px;
    border-radius: 10px;
}
.taiwan-top .nav-pills .nav-link {
  font-weight: 700;
  color: #000;
  border-bottom: 2px solid #fff;
}
.taiwan-top .nav-pills .nav-link.active {
  background: none;
  border-bottom: 2px solid #f05d70;
  border-radius: 0;
}
.experiences-section {
    box-shadow: 0px 0px 7px 0px rgb( 152, 152, 152 );
    border-radius: 10px;   
}
.experiences-section .press-text {
  font-size: 15px;
  font-weight: 600;
  color: #4d4d4e;
}
.experiences-section .press-text ul li {
  font-weight: 600;
  color: #4d4d4e;
}
.experiences-section .press-text .tress-inner {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.experiences-section .press-text .tress-inner-1 {
  width: 70%;
}
.experiences-section .press-text .tress-inner-2 {
  width: 30%;
}
.experiences-section img {
  width: 100%;
  height: 285px;
  object-fit: cover;
  position: relative;
}
.experiences-section span.span1 {
  position: absolute;
      right: 31px;
    top: 13px;
    width: 25px;
    height: 25px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    line-height: 29px;
}
.experiences-section:hover .img-part span.span1 {
  background: #ea4058;
  color: #fff;
}
.experiences-section .press-text .btn-default {
      padding: 5px 10px;
    font-size: 15px;
    text-transform: capitalize;
        line-height: 22px;
        border-radius: 10px;
}
/*-------------------------destination-section end------------------------*/

.accordion_container h3 {
  border-bottom: 1px solid #c2c3c4;
}

